@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  h1{
    @apply text-[2.5rem]
  }
}
@theme {
  --color-clifford: #da373d;
  --font-roboto: "Roboto", sans-serif; 
  --font-script: Great Vibes, cursive;
  --font-Aboreto: 'Aboreto';
  --font-CormorantU: 'Cormorant Upright';
}
@layer component {
  .option-card {
    @apply bg-[#6A9C89] p-[0.5rem] rounded-md text-center cursor-pointer hover:bg-[#1B4D3E] transition duration-150 ease-in
  }
}